# 🔐 Arquivos sensíveis
.env
.env.*     # Ex: .env.local, .env.production

# 🛠 Pastas de build (Frontend/Backend)
dist/
build/
out/
publish/
wwwroot/

# 📦 Node.js
node_modules/

# 📦 .NET
bin/
obj/
*.db
*.suo
*.user
*.userosscache
*.sln.docstates

# 🔍 IDEs e editores
.vscode/
.idea/

# 📁 Logs
*.log

# ⚙️ Config temporária
*.tmp
*.temp
*.bak
*.swp

# 📸 Snapshots de testes
__snapshots__/

# 🔒 Certificados locais
*.pfx
*.key
*.crt
