version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: teemugshop-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: teemugshopdb
      MYSQL_USER: teemug
      MYSQL_PASSWORD: teemug123
    ports:
      - "3307:3306"
    volumes:
      - teemugshop-db-data:/var/lib/mysql
    networks:
      - teemug-network
    restart: always

  api:
    build:
      context: .
      dockerfile: src/TeeMugShop.API/Dockerfile
    container_name: teemugshop-api
    ports:
      - "5150:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DB_CONNECTION_STRING: "Server=teemugshop-mysql;Port=3306;Database=teemugshopdb;User=teemug;Password=teemug123"
      JWT_ISSUER: "TShirtLoginGoogle"
      JWT_AUDIENCE: "http://localhost:5173"
      JWT_SECRET: "zG4vB@1pX#3rM9eNfW8jLqK$5TdY7VuZqNcH%4xCkL3sW9rPqE8vZ#XtG5YqMwRs"
      JWT_EXPIRATION: "6"
    depends_on:
      - mysql
    networks:
      - teemug-network
    restart: always

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - //./pipe/docker_engine://./pipe/docker_engine
      - portainer_data:/data
    networks:
      - teemug-network

volumes:
  teemugshop-db-data:
  portainer_data:

networks:
  teemug-network:
    driver: nat
