version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: teemugshop-api
    ports:
      - "7580:80"  # ✅ Corrigido: sua máquina escuta 7580 e redireciona para a porta 80 do container (que o ASP.NET está escutando)
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=teemugshop-mysql;Port=3306;Database=teemugshopdb;User=teemug;Password=teemug123"
    depends_on:
      - mysql
    networks:
      - teemug-network

  mysql:
    image: mysql:8.0
    container_name: teemugshop-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: teemugshopdb
      MYSQL_USER: teemug
      MYSQL_PASSWORD: teemug123
    ports:
      - "3307:3306"
    networks:
      - teemug-network
    volumes:
      - teemugshop-db-data:/var/lib/mysql

volumes:
  teemugshop-db-data:

networks:
  teemug-network:
    external: true
